*{
	box-sizing: border-box;
	
}
#header {
	color: white;
	font-size: 200%;
	font-weight: bold;
	padding: 20px;
	border-radius: 10px;
	
}
#body {
	color: white;
	font-size: 100%;
	font-weight: bold;
	padding: 30px;
	border-radius: 10px;
}
#body1 {
	color: white;
	font-size: 300%;
	font-weight: bold;
	padding: 30px;
	border-radius: 10px;
}

.button {
 
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

p{
	font-size: 35px;
}
.button:hover{
  background-color: white;
  font-size: 35px;
  color: black;
}
#leftcolum{
	width: 50%;
	float: left;
	padding-top : 60px;
}

#rightcolumn{
	width: 50%;
	float: right;
	margin: 10px ;
}
